{{ 'slide-video.css' | asset_url | stylesheet_tag }}
<div class="splide">
  <div class="splide__track">
    <ul class="splide__list splide_ul_container">
      {% for block in section.blocks %}
        <li class="splide__slide grid__item product_card_items">
          {{
            block.settings.video_url
            | video_tag: autoplay: true, loop: section.settings.enable_video_looping, controls: true, muted: true
          }}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var splide = new Splide('.splide', {
      perPage: 1, // Set the number of slides per page
      rewind: true,
      width: '100%', // Set slide width to 100%
    });
    splide.mount();
    // Update the Splide slider when the window is resized
    window.addEventListener('resize', function () {
      splide.destroy(); // Destroy the existing Splide instance
      splide = new Splide('.splide', {
        perPage: 1,
        rewind: true,
        width: '100%',
      });
      splide.mount(); // Re-initialize the Splide slider
    });
  });
</script>

{% schema %}
{
  "name": "slide show one",
  "tag": "section",
  "blocks": [
    {
      "name": "slider",
      "type": "slider-show",
      "settings": [
        {
          "type": "header",
          "content": "Image Settings"
        },
        {
          "type": "video",
          "id": "image",
          "label": "video_url",
          "info": "1200 x 500px .jpg recommended"
        },
        {
          "type": "range",
          "id": "font_size",
          "label": "Font size",
          "min": 20,
          "max": 100,
          "step": 1,
          "default": 30
        },
        {
          "type": "range",
          "id": "font_weight",
          "label": "Font size",
          "min": 100,
          "max": 1000,
          "step": 50,
          "default": 100
        },
        {
          "type": "range",
          "id": "mobile_font_size",
          "label": "Mobile Font size",
          "min": 20,
          "max": 100,
          "step": 1,
          "default": 30
        },
        {
          "type": "range",
          "id": "mobile_font_weight",
          "label": "Mobile Font size",
          "min": 100,
          "max": 1000,
          "step": 50,
          "default": 100
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "slide show one"
    }
  ]
}
{% endschema %}
