/* .heading {
  line-height: 1em;
  text-transform: uppercase;
}
.main_text_wrapper {
  position: absolute;
  bottom: 7.5%;
  right: 8.75%;
}
.sliding_button a {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: calc(10px + (12 - 10) * (100vw - 375px) / (1440 - 375));
  width: 20%;
  border: 1px solid white;
}

.main_heading_banner {
  width: 80%;
  font-family: Akshar;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: -0.89px;
  text-transform: uppercase;
}


@media only screen and (max-width:749px) {
  .main_text_wrapper a{
    min-height: 24px;
  }
}

@media only screen and (max-width: 749px) {
  .slideshow__wrapper_container.flickity-enabled.is-draggable
    .flickity-page-dots {
    text-align: left;
    width: 40%;
    height: 5%;
    bottom: 5%;
  }

  .slideshow__wrapper_container.flickity-enabled.is-draggable
    .flickity-page-dots
    .dot.is-selected {
    background: #fbcd11;
    border: none;
  }

  .slideshow__wrapper_container.flickity-enabled.is-draggable
    .flickity-page-dots
    .dot {
    background: #a7a9ac;
    border: none;
  }

  .slideshow__wrapper_container.flickity-enabled.is-draggable
    .flickity-page-dots
    .dot {
    width: 10px;
    height: 11px;
  }

  .sliding_content {
    color: black;
  }

  .slideshow__wrapper_container.flickity-enabled.is-draggable
    .flickity-page-dots
    .dot {
    margin-right: 0;
  }

  .sliding_content {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 90%;
    width: 95%;
    padding-left: 30px;
  }

  .slideshow__item {
    position: relative;
  }

  .sliding_button {
    display: block;
  }

  .slideshow_image_container img {
    max-width: 100%;
    object-fit: fill;
    height: 100%;
  }

  .sliding_content {
    padding: 10px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 750px) {
  .slideshow__wrapper_container.flickity-enabled.is-draggable
    .flickity-page-dots {
    bottom: 18%;
    width: 100%;
    max-width: 100%;
    text-align: end;
    right: 9%;
  }

  .slideshow__wrapper_container.flickity-enabled.is-draggable
    .flickity-page-dots
    .dot {
    margin: 0 10px;
    background: black;
  }

  .slideshow__wrapper_container.flickity-enabled.is-draggable .dot.is-selected {
    background: #fbcd11;
  }

  .slideshow__wrapper_container.flickity-enabled.is-draggable
    li.dot.is-selected {
    height: 10px;
    width: 10px;
  }

  .slideshow__wrapper_container.flickity-enabled.is-draggable
    .flickity-page-dots
    .dot {
    height: 10px;
    width: 10px;
  }

  .slideshow_image_container img {
    max-width: 100%;
    width: 100%;
    object-fit: fill;
  }

  .slideshow__item {
    width: 100%;
  }
}

.slideshow_image_container.h-full video{
   max-width: 100%;
  height: auto;
}

.slideshow__wrapper {
  background: #fff9e3;
} */
/* .slideshow__wrapper .flickity-page-dots{
  bottom:0;
}
.flickity-enabled.is-draggable .flickity-viewport{
  height: 50rem !important; /* it was comming from the flikity so here i have used the important */
.product_card_items{
  height: 50rem;
}